.landing {
  display: flex;
  flex-direction: column;
  h1 {
    position: absolute;
    color: white;
    top: calc(100% / 2.2);
    left: calc(100% / 2.2);
  }
}

.canvas {
  background-color: #111111;
}

.canvas:hover {
  cursor: pointer;
}
