.landing {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: white;
  }
  .icon {
    color: white;
    font-size: 40px;
    transition: 1s;
  }
  .icon:hover {
    transform: scale(2);
    transition: 1s;
  }
}

.canvas {
  background-color: #111111;
}

.landing:hover {
  cursor: pointer;
}
