.skillContainer {
  height: 16vh;
  padding: 10px 0;
  display: flex;
}
.innerRight {
  border: 5px solid #111111;
  transition: 0.7s ease-out;
  padding: 0 0 0 10px;
  font-size: 1.3rem;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  min-height: 16vh;
  width: 0%;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 600;
  transition: width 2s ease-out;
  border: 5px solid #111111;
  .mobileOnly {
    display: none;
  }

  p {
    padding: 20px 0 0 20px;
    margin: auto 0;
    font-size: 2em;
  }
}
.inner:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media only screen and (max-width: 1400px) {
  .skillContainer {
    p {
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 800px) {
  .skillContainer {
    .inner {
      border: none;
    }
    p {
      font-size: 0.65em;
    }
    .mobileOnly {
      display: block;
    }
    .innerRight {
      position: absolute;
      border: none;
    }
    .innerRight:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

@media only screen and (max-width: 700px) {
  .inner {
    font-size: 0.9rem;
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 550px) {
  .innerRight {
    p {
      font-size: 0.43em;
    }
  }
}
